<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_with model: @task, local: true, class: 'form-row' do |f| %>
  <div class="form-group col-md-12">
    <%= f.label :title, t("tasks.page_title.task") %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <%# TODO: 標籤 %>
  <%#= f.label :tag_name, "標籤" %>
  <%#= f.text_field :tag_name %>
  <%# TODO: 標籤 %>

  <%# TODO: Datepicker %>
  <div class="form-group col-md-6">
    <%= f.label :start_at, t("tasks.start_at") %>
    <%= f.text_field :start_at, class: 'form-control' %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :end_at, t("tasks.end_at") %>
    <%= f.text_field :end_at, class: 'form-control' %>
  </div>
<%# TODO: Datepicker %>

  <div class="form-group col-md-6">
    <div>
      <%= f.label :priority, t("tasks.priority.title") %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.radio_button :priority, "high", checked: true, class: 'form-check-input' %>
      <%= f.label :priority, t("tasks.priority.high"), class: 'form-check-label' %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.radio_button :priority, "normal", class: 'form-check-input' %>
      <%= f.label :priority, t("tasks.priority.normal"), class: 'form-check-label' %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.radio_button :priority, "low", class: 'form-check-input' %>
      <%= f.label :priority, t("tasks.priority.low"), class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group col-md-6">
    <div>
      <%= f.label :status, t("tasks.status.title") %>
    </div>
    <div>
      <%= f.select(:status,
                   options_for_select([
                     [t("tasks.status.pending"), "pending"],
                     [t("tasks.status.processing"), "processing"],
                     [t("tasks.status.done"), "done"]]),
                   {},
                   class: 'form-control') %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :content, t("tasks.content") %>
    <%= f.text_area :content, class: 'form-control', rows: '7' %>
  </div>

  <div class="form-group col-md-12">
    <%= f.submit t("tasks.links.submit"), class: 'btn btn-outline-primary'%>
    <%= link_to t("tasks.links.cancel"), tasks_path, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>

<%= javascript_pack_tag 'datepickr' %>
