<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title, t("tasks.page_title.task") %>
    <%= f.text_field :title %>
  </div>

  <%# TODO: 標籤 %>
  <%#= f.label :tag_name, "標籤" %>
  <%#= f.text_field :tag_name %>
  <%# TODO: 標籤 %>

  <%# TODO: Datepicker %>
  <div>
    <%= f.label :start_at, t("tasks.start_at") %>
    <%= f.text_field :start_at %>
  </div>

  <div>
    <%= f.label :end_at, t("tasks.end_at") %>
    <%= f.text_field :end_at %>
  </div>
<%# TODO: Datepicker %>

  <div>
    <%= f.label :priority, t("tasks.priority.title") %>
    <%= f.radio_button :priority, "high", checked: true %>
    <%= f.label :priority, t("tasks.priority.high") %>
    <%= f.radio_button :priority, "normal" %>
    <%= f.label :priority, t("tasks.priority.normal") %>
    <%= f.radio_button :priority, "low" %>
    <%= f.label :priority, t("tasks.priority.low") %>
  </div>

  <div>
    <%= f.select(:status,
                 options_for_select([
                   [t("tasks.status.pending"), "pending"],
                   [t("tasks.status.processing"), "processing"],
                   [t("tasks.status.done"), "done"]
                 ])) %>
  </div>

  <div>
    <%= f.label :content, t("tasks.content") %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit t("tasks.links.submit")%>
    <%= link_to t("tasks.links.cancel"), tasks_path %>
  </div>
<% end %>