<h1><%= t("tasks.page_title.list") %></h1>
<div>
  <%= form_with url: tasks_path, method: :get, local: true, id: 'search_form' do |f| %>
    <%= f.text_field :search %>
    <%= f.select :search_status, status_options, { include_blank: t("tasks.status.title") } %>
    <%= f.submit t('tasks.links.search')%>
  <% end %>
</div>
<%= link_to t("tasks.links.add_task"), new_task_path%>

<table>
  <thead>
    <tr>
      <th scope="col"><%= t("tasks.page_title.task") %></th>
      <th scope="col"><%= t("tasks.status.title") %></th>
      <th scope="col"><%= sortable "priority.title" %></th>
      <th scope="col"><%= t("tasks.start_at") %></th>
      <th scope="col"><%= sortable "end_at" %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td scope="col" class="task_title"><%= task.title %></td>
        <td class="task_status"><%= t("tasks.status.#{task.status}") %></td>
        <td><%= t("tasks.priority.#{task.priority}") %></td>
        <td><%= task.start_at %></td>
        <td><%= task.end_at %></td>
        <td>
          <%= link_to t("tasks.links.show"), task_path(task) %>
          <%= link_to t("tasks.links.edit"), edit_task_path(task) %>
          <%= link_to t("tasks.links.delete"), task_path(task), method: :delete, data: { confirm: I18n.t("tasks.confirms.delete") } %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
