<header class="row my-2">
  <h1>
    <%= t("tasks.page_title.list") %>
    <%= link_to t("tasks.links.add_task"), new_task_path, class: 'btn btn-outline-primary'%>
  </h1>
</header>

<section class="row mb-3">
  <%= form_with url: tasks_path, method: :get, local: true, id: 'search_form', class: 'form-inline' do |f| %>
    <div class="form-group">
      <%= f.select :search_status, status_options, { include_blank: t("tasks.status.title") }, class: 'form-control' %>
      <%= f.text_field :search, class: 'form-control' %>
      <%= f.submit t('tasks.links.search'), class: 'btn btn-outline-secondary'%>
    </div>
  <% end %>
</section>

<<<<<<< HEAD
<table>
  <thead>
    <tr>
      <th scope="col"><%= t("tasks.page_title.task") %></th>
      <th scope="col"><%= t("tasks.status.title") %></th>
<<<<<<< HEAD
      <th scope="col"><%= sortable_link_to "priority.title" %></th>
=======
      <th scope="col"><%= sortable "priority.title" %></th>
>>>>>>> Feature order by priority in the index page
      <th scope="col"><%= t("tasks.start_at") %></th>
      <th scope="col"><%= sortable_link_to "end_at" %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
=======
<section class="row mb-3">
  <table class="table table-hover table-sm table-striped text-center">
    <thead>
>>>>>>> Add task#index bootstrap
      <tr>
        <th scope="col"><%= t("tasks.page_title.task") %></th>
        <th scope="col"><%= t("tasks.status.title") %></th>
        <th scope="col"><%= sortable "priority.title" %></th>
        <th scope="col"><%= t("tasks.start_at") %></th>
        <th scope="col"><%= sortable "end_at" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td scope="col" class="task_title"><%= task.title %></td>
          <td class="task_status"><%= t("tasks.status.#{task.status}") %></td>
          <td><%= t("tasks.priority.#{task.priority}") %></td>
          <td><%= task.start_at.strftime("%F") %></td>
          <td><%= l(task.end_at, format: :custom_date) %></td>
          <td class="btn-group btn-group-sm" role="group">
            <%= link_to t("tasks.links.show"), task_path(task), type: 'button', class: 'btn btn-outline-primary' %>
            <%= link_to t("tasks.links.edit"), edit_task_path(task), type: 'button', class: 'btn btn-outline-dark' %>
            <%= link_to t("tasks.links.delete"), task_path(task), method: :delete, data: { confirm: I18n.t("tasks.confirms.delete") }, type: 'button', class: 'btn btn-outline-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tasks %>
</section>

