<h3><%= @task.title %></h3>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><%= t("tasks.start_at") %></td>
      <td><%= @task.start_at %></td>
    </tr>
    <tr>
      <td><%= t("tasks.end_at") %></td>
      <td><%= @task.end_at %></td>
    </tr>
    <tr>
      <td><%= t("tasks.status.title") %></td>
      <td><%= t("tasks.status.#{@task.status}") %></td>
    </tr>
    <tr>
      <td><%= t("tasks.priority.title") %></td>
      <td><%= t("tasks.priority.#{@task.priority}") %></td>
    </tr>
    <tr>
      <td><%= t("tasks.content") %></td>
      <td><%= @task.content %></td>
    </tr>

    <%#=  TODO: 標籤 %>
    <tr>
      <td><%= t("tasks.tags.title") %></td>
      <td></td>
    </tr>
    <%#=  TODO: 標籤 %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= link_to t("tasks.links.edit"), edit_task_path(@task) %>
        <%= link_to t("tasks.links.delete"), task_path(@task), method: :delete, data: { confirm: I18n.t("tasks.links.delete") } %>
        <%= link_to t("tasks.links.root_page"), tasks_path %>
      </td>
    </tr>
  </tfoot>
</table>