<!DOCTYPE html>
<html>
  <head>
    <title>Training5x</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash' if notice %>

    <%= link_to t("locale.en"), locale: "en" %>
    <%= link_to t("locale.zhTW"), locale: "zh-TW" %>
    
    <%= yield %>
  </body>
</html>
